body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
  Start Menu Styling
*/
.ui.menu .active.item {
  font-weight: bold;
}
/*
  End of Menu Styling
*/

/* Button Styling */
.ui.button.disabled-button {
  cursor: default !important;
  opacity: 0.45 !important;
  background-image: none !important;
  box-shadow: none !important;
}
/* End of button Styling */
